{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "chrome": 50,
                    "edge": 15,
                    "firefox": 52,
                    "ie": 11,
                    "opera": 52
                }
            }
        ]
    ],
    "plugins": [
        "transform-custom-element-classes",
        "transform-es2015-classes",
    ]
}