<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carto Button</title>
    <link rel="stylesheet" href="../../dist/airship.css">
    <script src="carto-button.js"></script>
</head>

<body>
    <button class="Air-Button Air-Button--small">Small Button</button>
    <button class="Air-Button">Button</button>
    <button id="foo" class="Air-Button Air-Button--large">Large Button</button>
</body>

<script>
    // Only components with some behaviour will have this
    CartoButton.attachTo(document.querySelectorAll('.Air-Button'));
    document.querySelector('#foo').addEventListener('carto-click', event => {
        console.warn(event.detail);
    });
</script>

</html>
