///*------------------------------------*\
//    Airship Donut
//\*------------------------------------*/

.Air-Donut {
  display: inline-block;
  background: white;
  padding: 15px;
  width: 280px;
  height: 200px;
  font-family: "Roboto";
  font-weight: 300;
}

.Air-Donut .Air-Donut--Container {
  display: block;
}

.Air-Donut .Air-Donut--Subtitle {
  margin-top: 5px;
  font-size: 13px;
  color: #888;
}

.Air-Donut .Air-Donut--Chart-Container {
  margin-top: 15px;
}
