///*------------------------------------*\
//    Airship Settings Colors
//\*------------------------------------*/

$air-color-white: #fff;
$air-color-grey: #E2E6E3;
$air-color-black: #2C2C2C;

$air-color-brand01: #1785FB;
$air-color-brand02: #0F2D53;
$air-color-brand03: #47DB99;

$air-color-ui01: #fff;
$air-color-ui02: #F5F5F5;
$air-color-ui03: #E2E6E3;
$air-color-ui04: #D1D5D7;

$air-color-type01: #2C2C2C;
$air-color-type02: #747474;
$air-color-type03: #BABABA;
$air-color-type04: #fff;

$air-color-support01: #F3522B;
$air-color-support02: #FDB32B;
$air-color-support03: #80B622;
