///*------------------------------------*\
//    Airship Settings Fonts
//\*------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$air-font-subheader-regular: 400 16px/24px "Roboto";
$air-font-body-regular: 400 12px/20px 'Roboto';
$air-font-caption-regular: 400 10px/12px "Roboto";
