carto-category {
  padding: 16px;
  background: white;
  width: 280px;
  display: block;
  font-family: 'Roboto', sans-serif;
}

/* -- Category Item */

carto-category-item {
  display: flex;
  flex-wrap: wrap;
  cursor: default;
  margin-bottom: 8px;
}

carto-category-item .CategoryItem--name {
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  overflow: hidden;
  margin: 0px;
  line-height: 20px;
  font-weight: 400;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  flex: 1 1 70%;
  color: rgb(44, 44, 44);
  -webkit-font-smoothing: antialiased;
}

carto-category-item .CategoryItem--value {
  text-align: right;
  margin: 0px;
  line-height: 20px;
  font-weight: 400;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  flex: 1 1 30%;
  color: rgb(44, 44, 44);
  -webkit-font-smoothing: antialiased;
}

carto-category-item .CategoryItem--progressBar {
  width: 100%;
  position: relative;
  height: 4px;
  border-radius: 2px;
  background: rgb(245, 245, 245);
}

carto-category-item .CategoryItem--progress {
  width: 100%;
  transition: background 0.2s ease;
  position: absolute;
  max-width: 100%;
  left: 0px;
  height: 4px;
  content: "";
  border-radius: 2px;
  background-color: transparent;
}

carto-category-item .CategoryItem--progress.active {
  background-color: #47db99;
}

.CA-Title {
  margin: 0px;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  color: rgb(44, 44, 44);
  -webkit-font-smoothing: antialiased;
}

.CA-Subtitle {
  margin: 0px 0px 12px;
  line-height: 16px;
  font-weight: 400;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  color: rgb(116, 116, 116);
  -webkit-font-smoothing: antialiased;
}
