carto-category {
  padding: 16px;
  background: white;
  width: 280px;
  display: block;
}

carto-category-item,
.carto-title,
.carto-subtitle {
  padding: 5px;
  display: block;
  cursor: pointer;
}

.carto-category-bar {
  cursor: pointer;
  background: teal;
  height: 5px;
}

.carto-category-bar--selected {
  background: rgb(0, 82, 82);
}

.carto-category--selected .carto-category-bar {
  background: gray;
}

.carto-category--selected .carto-category-bar--selected {
  background: rgb(0, 82, 82);
}
